<div id="header">
    <button id="menu-toggle" type="button">
        <span class="sr-only">Toggle Navigation Menu</span>
    </button>
    <button id="search-toggle" type="button">
        <span class="sr-only">Toggle Search Form</span>
    </button>
    <a id="logo" href="/">
        <span class="sr-only">DevBJ Home</span>
    </a>
    <form id="search" action="http://www.google.co.kr/cse" target="_new">
		<input type="hidden" name="cx" value="003569106173980397583:byrd7c4rzzy" />
		<input type="hidden" name="ie" value="UTF-8" /> 
        <input id="searchQueryEdit" name="q" type="search" placeholder="Search..." value="" />
    </form>
    <ul id="menu" class="nav">
        <li class="{% if page.url != '/opensource/' and page.url != '/openapi/' %} active {% endif %}"><a href="{{ base_path }}/">블로그</a></li>
        <li class="{% if page.url == '/asic/' %} active {% endif %}"><a href="{{ base_path }}/asic/">ASIC설계</a></li>
<!--
        <li class="{% if page.url == '/opensource/' %} active {% endif %}"><a href="{{ base_path }}/opensource/">오픈소스</a></li>
        <li class="{% if page.url == '/events/' %} active {% endif %}"><a href="{{ base_path }}/events/">기술행사</a></li>
-->
    </ul>
</div><!-- #header -->
