<head>
  <title>카카오 오픈소스 가이드</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="preload" as="style" href="{{site.baseurl}}/assets/css/Pretendard-1.3.9/web/static/pretendard.css" crossorigin />
  <link rel="stylesheet" href="{{ 'assets/css/just-the-docs-default.css' | relative_url }}">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1BR2W6QHKL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1BR2W6QHKL');
  </script>

  {% if site.search_enabled != false %}
    <script src="{{ 'assets/js/vendor/lunr.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/vendor/lunr.stemmer.support.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/vendor/lunr.ko.js' | relative_url }}"></script>
  {% endif %}

  <script src="{{ 'assets/js/just-the-docs.js' | relative_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% for file in site.static_files %}
    {% if file.path == site.favicon_ico or file.path == '/assets/images/kakao.png' %}
      {% assign favicon = true %}
    {% endif %}
  {% endfor %}
  {% if favicon %}
    <link rel="icon" href="{{ site.favicon_ico | default: 'https://t1.kakaocdn.net/olive/ossguide/kakao.png' | relative_url }}" type="image/x-icon">
  {% endif %}

  {% include head_custom.html %}
  <meta name="title" content="카카오 오픈소스 가이드">
  <meta name="description" content="카카오에서 제공하는 오픈소스 가이드">
  <base href="/">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="오픈소스 가이드">
  <meta property="og:title" content="오픈소스 가이드">
  <meta property="og:url" content="https://kakao.github.io/">
  <meta property="og:image" content="https://t1.kakaocdn.net/olive/assets/images/opensourceguide.png">
  <meta property="og:description" content="카카오에서 제공하는 오픈소스 가이드">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="카카오 오픈소스 가이드">
  <meta name="twitter:description" content="카카오에서 제공하는 오픈소스 가이드">
  <meta name="twitter:image" content="https://t1.kakaocdn.net/olive/assets/images/opensourceguide_t.png">
</head>
