// Typography
// stylelint-disable selector-no-type, selector-max-type, selector-max-specificity, selector-max-id

h1,
.text-alpha {
  @include fs-8;

  font-weight: 500;
  padding-bottom: 16px;
  color: #222;
  line-height: 1.25;
  letter-spacing: -2px;
  border-bottom: 1px solid #ddd;
}

h2,
.text-beta,
#toctitle {
  @include fs-7;
  padding: 6px 0 4px 12px;
  color: #038c65;
  font-weight: 700;
  letter-spacing: -.2px;
  border-bottom: 1px solid #038c65;
  border-left: 8px solid #038c65;
}

h3,
.text-gamma {
  @include fs-6;
  margin: 16px 0 0 12px;
  padding: 2px 0 2px 12px;
  border-left: 6px solid #08B4AB;
}

.h3_box {
  margin-left:22px;
}

h4,
h4,
.text-delta {
  @include fs-5;
  margin: 16px 10px 0 20px;
  padding: 0 10px;
  border-left: 5px solid #007151;
}

.h4_box {
  margin-left: 30px;
}

h4 code {
  text-transform: none;
}

h5,
.text-epsilon {
  @include fs-4;
  padding: 0 10px;
  margin: 0 20px 0 32px;
  border-left: 4px solid #CCE6DF;
}

.h5_box {
  margin-left: 40px;
}
h6,
.text-zeta {
  @include fs-2;
}


.text-small {
  @include fs-2;
}

.text-mono {
  font-family: $mono-font-family !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}
