// Typography
// stylelint-disable selector-no-type, selector-max-type, selector-max-specificity, selector-max-id

h1,
.text-alpha {
  @include fs-8;
  font-weight: 700;
  margin-bottom: 10px;
  color: #222;
}

h2,
.text-beta,
#toctitle {
  @include fs-6-lg;
  padding: 24px 0 4px 0;
  margin-bottom: 10px;
  font-weight: 700;
}

h3,
.text-gamma {
  @include fs-6;
  padding: 14px 0 10px 0;
  font-weight: 700;
}

h4,
h4,
.text-delta {
  @include fs-5;
  //margin: 16px 10px 0 20px;
  padding: 16px 10px 0 0;
  font-weight: 700;
}

.h4_box {
  margin-left: 30px;
}

h4 code {
  text-transform: none;
}

h5,
.text-epsilon {
  @include fs-4;
  padding: 0 10px 0 0;
  margin: 24px 0 22px 14px;
}

.h5_box {
  margin-left: 14px;
  font-size: 14px;
  color: #555555;
}

h6,
.text-zeta {
  @include fs-4;
}


.text-small {
  @include fs-2;
}

.text-mono {
  font-family: $mono-font-family !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}
